<!DOCTYPE html>
<html>
  <head>
    <title>Signup</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/sha256.js"></script>
    <script>
    $(document).ready(function(){
		var userlist;
		var statue;
		$.get('/userlist', (data) => {
			userlist = data;
		});
			$('#password').keyup(() => {
				console.log('yeah');
			});
        $('#signupbtn').click(function(){
			if($('#emaf').val() == '') {
				console.log($('#emaf').val());
			} else {
            /*$.ajax({
                url: '/signup',
                type: 'put',
                data: {
                    ema : $('#emaf').val()+'@'+$('#emas').val(), 
                    nick: $('#nickname').val(), 
                    pwd : CryptoJS.SHA256($('#usrpwd').val()).toString()
                },
                success: (data) => {
                	console.log(data);
					    var out;
					    out = '.';
						if(data.email == 'fail') {
							out += 'Email is already taken!';
						}
						if(data.nickname == 'fail') {
							out += 'Nickname is already taken!';
						}
						if(data.password == 'fail') {
							out += 'Password is already taken!';
						}
						if(data.email,data.nickname,data.password == 'success') {
							location.href='/';
						}
						if(out == '.') {
						alert('success');
						} else {
						alert(out);
					    }
                }
            });*/
			}
        });
    });
    </script>
  </head>
  <body>
    <label for="emaf">Email :&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input id="emaf"></input>
    <label for="emas">@</label>
    <input id="emas"></input><br />
	<label id="emaillab" for="emas" class="salert">Plase enter your email</label><br />
    <label for="nickname">Nickname : </label>
    <input id="nickname"></input><br />
	<label id="nicklab" for="nickname" class="salert">Plase enter your nickname</label><br />
    <label for="password">Password : </label>
    <input type="password" id="usrpwd"></input><br />
	<label id="pwdlab" for="password" class="salert">Please enter your password</label><br />
    <button id="signupbtn">Sign up</button>
  </body>
</html>